body {
  height: 100vh;
  width: 100vw;
}

.container-1 {
  display: flex;
  height: 100%;
  flex-shrink: 1;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.box {
  padding-inline: 12px;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  .color-box-text {
    font-weight: bold;
  }
}
