@use "../../utilities/mixin.scss" as m;

body {
  height: 100vh;
  width: 100vw;
  @include m.FlexCenter(column);
  justify-content: space-around;
}

header {
  width: 100vw;
  gap: 10px;
  @include m.FlexCenter(column);
}

.container {
  flex-shrink: 1;
  gap: 8px;
  @include m.FlexCenter(column);
  justify-content: center;
}

.box {
  padding-inline: 12px;
  height: 5em;
  @include m.FlexCenter(column);
  justify-content: center;
  border-radius: 4px;
  width: 7em;
}

.shadow {
  border: 1px solid black;
}
