@use "sass:color";
@use "sass:list";
@use "../base/variables.scss" as b;

@for $j from 1 through 3 {
  .container-#{$j} {
    $current-color: list.nth(b.$base-colors, $j);
    @for $i from 1 through 4 {
      & .darken-#{$i} {
        background-color: color.adjust(
          $color: $current-color,
          $lightness: -$i * 5%
        );
        color: color.adjust($color: b.$text-base-color, $lightness: $i * 7%);
      }

      & .lighten-#{$i} {
        background-color: color.adjust(
          $color: $current-color,
          $lightness: $i * 5%
        );
        color: color.adjust($color: b.$text-base-color, $lightness: -$i * 7%);
      }
    }

    & .base-color {
      background-color: $current-color;
      .color-box-text {
        color: white;
      }
    }
  }
}
