@use "../../utilities/mixin.scss" as m;
@use "../base/variables.scss" as b;
@use "sass:color";

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

header {
  width: 100%;
  padding-inline: 8px;
  gap: 10px;
  @include m.FlexCenter(column);
}

h3 {
  align-self: flex-start;
  margin-block: 12px;
}

nav {
  width: 100%;
  @include m.FlexCenter(row);
  justify-content: space-between;
  background-color: b.$background-color;
  height: 3rem;
  color: white;

  @media screen and (width < b.$bp-md) {
    height: 2.5rem;
  }

  a {
    padding-inline: 12px;
    display: inline-block;
    height: 100%;

    @include m.FlexCenter(row);
    justify-content: center;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: color.adjust(
        $color: b.$background-color,
        $hue: 90deg,
        $saturation: 25%,
        $lightness: 17%
      );
    }
  }
}

.selected {
  background-color: color.adjust(
    $color: b.$background-color,
    $hue: 270deg,
    $saturation: 25%,
    $lightness: 17%
  );
}

@media screen and (width < b.$bp-md) {
  nav {
    @include m.FlexCenter(column);
    height: 100%;
    a {
      @include m.FlexCenter(row);
      width: 100%;
      height: 3rem;
    }
  }
}
