@use "../../utilities/mixin.scss" as m;
@use "../base/variables.scss" as b;
@use "sass:color";

body {
  height: 100vh;
  width: 100vw;
  background-color: #bbb;
  @include m.FlexCenter(column);
}

main {
  @include m.FlexCenter(row);
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  overflow: hidden;
  margin-block: 10px;
  background-color: #eee;
  width: 20rem;
  height: 40rem;
  border: 1px solid #888888d2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr repeat(2, 1fr);
  grid-template-areas:
    "image image"
    "title ."
    "description description"
    ". publish"
    "button button";
  align-items: center;
  justify-content: space-around;
}

.card-title {
  grid-area: title;
  align-self: flex-start;
  margin-block: 10px;
  font: {
    weight: 300;
  }
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  grid-area: image;
}

.card-description {
  line-height: 1.3rem;
  font-weight: lighter;
  grid-area: description;
}

.published {
  justify-self: start;
  align-self: center;
  grid-area: publish;
  text-wrap: nowrap;
  font-weight: bold;
  span {
    color: b.$theme-color;
    text-wrap: nowrap;
    font-weight: 400;
  }
}

.card-button {
  grid-area: button;
  height: 2.5rem;

  background-color: b.$theme-color;
  border: 1px solid color.adjust($color: b.$theme-color, $saturation: 20%);
  color: #eee;
  transition: background-color 0.3s ease-in;
  &:hover {
    background-color: color.adjust($color: b.$theme-color, $lightness: -10%);
  }
}

.card-title,
.card-button,
.card-description,
.published {
  margin-inline: 8px;
}
