@import url("./vendors/normalize.css");
@import url("./vendors/reset.css");

:root {
  --bg-color: #141414;
  --text-color: #eee;
}

body {
  background-color: #141414;
  width: 100vw;
  color: #eee;
  font-family: "Jost", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: sticky;
  width: 100vw;
  top: 0px;
  background-color: var(--bg-color);
  z-index: 10;
  .header-logo {
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 100%;

    img {
      align-self: stretch;
      height: 100%;
      object-fit: cover;
    }

    .platform-title {
      padding: 16px;
    }
  }

  .header-buttons {
    display: flex;
    gap: 8px;
    padding-inline: 20px;
  }
}

main {
  padding: 16px;
  .section-title {
    margin-top: 16px;
    #top-text::after {
      content: "5";
      font-weight: bold;
    }
  }

  .top {
    display: flex;
    padding-inline: 16px;
    flex-direction: row-reverse;
    gap: 16px;
    padding-bottom: 8px;
    img {
      min-width: 225px;
    }
  }

  .first,
  .second {
    width: 100%;
    display: flex;
    padding-block: 8px;
    gap: 2px;

    .item {
      img {
        min-width: 205px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 300ms ease-in-out;
        display: block;
        border-radius: 4px;

        &:hover {
          transform: scale(1.07);
          z-index: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  header {
    .platform-title {
      display: none;
    }
  }
  main {
    .section-title {
      margin-top: 16px;
      #top-text::after {
        content: "3";
        font-weight: bold;
      }
    }
    .top-item {
      &:first-child,
      &:nth-child(2) {
        display: none;
      }
    }

    .first,
    .second {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2px;
      .item {
        flex: 1 1 calc(25% - 2px);
        img {
          min-width: unset;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  main {
    .top {
      img {
        min-width: unset;
      }
    }
    .first,
    .second {
      .item {
        flex: 1 1 calc(33% - 1px);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    .top {
      flex-direction: column-reverse;
      width: 100%;
      justify-content: center;
      align-items: center;
      img {
        min-width: unset;
      }
    }
    .first,
    .second {
      .item {
        flex: unset;
        width: 100%;
        padding-inline: 8px;
      }
    }
  }
}
