@use "../../utilities/mixin.scss" as m;

body {
  height: 100vh;
  width: 100vw;
  @include m.FlexCenter(column);
  gap: 16px;
  justify-content: center;
}

.container {
  display: flex;
  height: auto;
  flex-shrink: 1;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.box {
  padding-inline: 12px;
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  .color-box-text {
    font-weight: bold;
  }
}
