$base-color: #829;
$primary-font: "Courier New", Courier, monospace;
$secondary-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$shadow: -10px 5px 10px black;
$text-base-color: aqua;
$border-radius: 0px;
