$base-color: rgb(34, 54, 153);
$primary-font: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$secondary-font: monospace;
$shadow: 10px 5px 10px black;
$text-base-color: rgb(255, 102, 0);
$border-radius: 4px;
